@import '../../styles/var';

.sr {@include screenReader;}

// PC laptop
.hd {
  z-index: 999;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 50px;
  padding: 0 16px;
  @include center;
  justify-content: space-between;
  a {
    padding: 16px;
    font-size: var(--font-size-18);
    color: var(--color-gray-3);
    &:hover {color: var(--color-red-1);}
  }
  .logo {a {color: var(--color-red-1);}}
  @include shadow;
}

// Mobile
@media (min-width: 320px) and (max-width: 430px) {
  .hd {
    span {display: none;}
    a {
      font-size: var(--font-size-13);
      padding: 8px;
    }
  }
}



