* {margin: 0; padding: 0;}
body {
  background: rgb(221, 221, 221);
}

.container {
  .image, .info {
    width: 300px;
    height: 550px;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .image {
    background-image: url('./img/1.jpg');
    background-position: center;
    background-size: cover;
    // background: #000;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 0.2);
  }
  
  .info {
    background: #fff;
    box-shadow: 0 20px 10px -20px rgba(0, 0, 0, 0.2);
    .contents {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 20px;
      line-height: 15px;

      h2 {line-height: 16px; margin-bottom: 8px; font-size: 1rem; color: #505050;}
      span {font-size: 0.75rem; color: #757575;}
    }
  }
}

.slide {
  div {
    transition: transform 0.4s ease-in;
  }
  .image {
    transform: translate(-50%, calc(50% - 110px));
  }
  .info {
    transform: trnaslate(-50%, calc(-50% + 40px)) scale(1.1);
  }
}
