@import '../../styles/var';

.card {
  @for $i from 1 to 13 {
    &:nth-of-type(#{$i}) {
      @include shadow;
      position: relative;
      width:  300px;
      height: 300px;
      margin: 16px;
    }
  }
}

// Mobile
@media (min-width: 320px) and (max-width: 430px) {
  .card {
    margin: 16px 8px;
  }
}