@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {color: inherit; text-decoration: none;}

body {
  font-family: 'NanumSquare', sans-serif !important;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  color: #fff;
  padding: 0 5%;
  height: 40px;
  opacity: .5;

  .menu {
    list-style: none;
    display: flex;
    li {
      a {
        text-transform: uppercase;
        padding: 0 10px;
        text-transform: capitalize;
        text-align: right;
      
        &:hover {
          padding-bottom: 10px;
          border-bottom: 1px solid #ffc107;
        }
      }
    }
  }
}

.text {
  width:  auto;
  height: 110px;

  display: flex;
  align-items: center;
  position: absolute;
  overflow: hidden;
  a {
    color: #000;
    
    &:hover,
    &:hover h1::before {
      color: #ffc107;
    }
    
    h1 {
      font-weight: bold;
      position: relative;
      top: 100%;
      font-size: 80px;
      text-transform: uppercase;
      overflow: hidden;

      &::before {
        position: absolute;
        color: #fff;
        width: 0;
        right: 0;
        overflow: hidden;

        animation-name: animate;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
    }
  }
}

.text1 {
  top: 15%; left: 30%;
  a {
    h1::before {
    content: '한글텍스트';
    animation-delay: 1.6s;
    animation-duration: .4s;
    opacity: 1;
    }
  }
}
.text2 {
  top: 33%; left: 50%;
  transform: translateX(-50%);
  a {
    h1::before {
      content: '슈슝샤샤샥';
      animation-delay: 1.5s;
      animation-duration: .5s;
    }
  }
}
.text3 {
  top: 50%; left: 5%;
  a {
    h1::before {
      content: '스르르륵';
      animation-delay: 1.2s;
      animation-duration: .5s;
    }
  }
}
.text4 {
  top: 63%; right: 25%;
  a {
    h1::before {
      content: 'cross';
      animation-delay: 1.9s;
      animation-duration: .5s;
    }
  }
}
.text5 {
  bottom: 10%; right: 15%;
  a {
    h1::before {
      content: 'effect';
      animation-delay: 1.9s;
      animation-duration: .5s;
    }
  }
}



.slide {
  width: 0;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  z-index: -1;
  left: 0;
}


@keyframes animate {
  0% {width: 0;}
  100% {width: 100%;}
}