@charset "UTF-8";
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'NanumSquare', sans-serif !important;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  color: #fff;
  padding: 0 5%;
  height: 40px;
  opacity: .5;
}

.nav .menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .menu li a {
  text-transform: uppercase;
  padding: 0 10px;
  text-transform: capitalize;
  text-align: right;
}

.nav .menu li a:hover {
  padding-bottom: 10px;
  border-bottom: 1px solid #ffc107;
}

.text {
  width: auto;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  overflow: hidden;
}

.text a {
  color: #000;
}

.text a:hover,
.text a:hover h1::before {
  color: #ffc107;
}

.text a h1 {
  font-weight: bold;
  position: relative;
  top: 100%;
  font-size: 80px;
  text-transform: uppercase;
  overflow: hidden;
}

.text a h1::before {
  position: absolute;
  color: #fff;
  width: 0;
  right: 0;
  overflow: hidden;
  -webkit-animation-name: animate;
          animation-name: animate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.text1 {
  top: 15%;
  left: 30%;
}

.text1 a h1::before {
  content: '한글텍스트';
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  opacity: 1;
}

.text2 {
  top: 33%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.text2 a h1::before {
  content: '슈슝샤샤샥';
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.text3 {
  top: 50%;
  left: 5%;
}

.text3 a h1::before {
  content: '스르르륵';
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.text4 {
  top: 63%;
  right: 25%;
}

.text4 a h1::before {
  content: 'cross';
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.text5 {
  bottom: 10%;
  right: 15%;
}

.text5 a h1::before {
  content: 'effect';
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.slide {
  width: 0;
  height: 100vh;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  z-index: -1;
  left: 0;
}

@-webkit-keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */