@import '../var';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

$font-family: 'Cormorant Garamond';

@mixin rotateAni {
  animation: rotate;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.changecolor {
  @include inner;
  font-family: $font-family, serif;
  .box {
    .transparency {
      animation: blur;
      animation-duration: 4.5s;
      animation-timing-function: ease-in;
      animation-iteration-count: infinite;

      z-index: 2;
      position: absolute;
      width: 300px; height: 150px;
      border: 1px solid rgba(255,255,255,0.1);
      border-radius: 10%;
    }
    p {
      z-index: 1; text-align: center;
      font-size: 3rem; line-height: 100%;
      text-transform: uppercase; color: var(--color-white);
      display: flex; flex-direction: column;
      span {
        &:nth-of-type(1) {font-size: 3rem;}
        &:nth-of-type(2) {font-size: 4rem;}
        &:nth-of-type(3) {font-size: 2rem;}
      }
    }
    svg {position: absolute; width: 0; height: 0;}
    .hooks_main1 {
      position: absolute;
      width: 100%;
      height: 100%;
      filter: url("#goo");
      
      &> div {
        // circle 1
        &:nth-of-type(1) {
          animation: move1;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;

          position: absolute;
          width:  300px;
          height: 300px;
          border-radius: 50%;
          background: linear-gradient(90deg, #fff2e0 20%, #ffd3ac 70%, #ffd0a7 20%);
        }
        // circle 2
        &:nth-of-type(2) {
          position: absolute;
          top: 200px;  left: 250px;
          width:  300px; height: 300px;
          border-radius: 50%;
          mix-blend-mode: multiply;
          background: linear-gradient(90deg, #ffe0ec 20%, #ffacb7 70%, #ffa7ab 20%);

          animation: move2;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}


@keyframes rotate {
  0%   {transform: rotate(0deg);  background: linear-gradient(90deg, #ffddb0 20%, #ffbd84 70%, #ffc089 10%);}
  50%  {transform: rotate(180deg); background: linear-gradient(90deg, #ffd394 20%, #ffb471 70%, #ffb778 10%);}
  100% {transform: rotate(0deg);  background: linear-gradient(90deg, #ffd8a2 20%, #ffbe86 70%, #ffb778 10%);}
}

@keyframes move1 {
  0%   {top: 80px;  left: 50px; transform: scale(1);}
  50%  {top: 150px; left: 150px; transform: scale(1.2);}
  100% {top: 80px;  left: 50px; transform: scale(1);}
}

@keyframes move2 {
  0%   {top: 200px;  left: 250px; transform: scale(1);}
  50%  {top: 150px;  left: 150px; transform: scale(1.2);}
  100% {top: 200px;  left: 250px; transform: scale(1);}
}

@keyframes blur {
  0%   {backdrop-filter: blur(0px);}
  50%  {backdrop-filter: blur(4px);}
  100% {backdrop-filter: blur(0px);}
}