@import '../var';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');

$font-family: 'Noto Sans Mono';


@mixin posterSectionTitle {
  color: #444;
  font-size: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

@mixin pa {
  position: absolute;
  font-size: 0.75rem;
}

@mixin pi {
  position: absolute;
  height: 1px;
  border: 1px solid var(--color-gray-2);
  border-style: dashed;
}


.infographic {
  @include inner;
  background: #ddd;
  font-family: $font-family, serif;
  .poster {
    background: var(--color-white);
    width: 780px; height: auto;
    padding: 70px; margin: 100px 0;
    box-shadow: -2px 2px 17px #b5b5b5;
  
    .distraction {
      &_title {@include posterSectionTitle;}
      &_infographic {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        margin: 30px 0;
        &_circleChart {
          @include center;
          width:  350px; height: 350px; margin: 40px;
          border: 1px solid var(--color-gray-2); border-radius: 500px;
          position: relative;
  
          .dotCircle {width: 300px; height: 300px; border-radius: 500px; border: 1px solid var(--color-gray-2); border-style: dotted; border-width: 2px 0px 2px 0px;}
          span {
            &:nth-child(n+1):nth-child(-n+5) {@include pi;}
            &:nth-of-type(1) {transform: rotate(90deg); width: 113%;}
            &:nth-of-type(2) {transform: rotate(150deg);width: 115%;}
            &:nth-of-type(3) {transform: rotate(34deg); width: 60%; bottom: 114px; right: -17px;}
            &:nth-of-type(4) {transform: rotate(65deg); width: 58%; bottom: 81px; right: 30px;}
          }
          p {
            color: var(--color-gray-3);
            &:nth-of-type(n+1):nth-of-type(-n+7) {@include pa;}
            &:nth-of-type(1) {top: 125px; left: 70px;}
            &:nth-of-type(2) {top: 70px; right: 95px;}
            &:nth-of-type(3) {bottom: 150px; right: 30px;}
            &:nth-of-type(4) {bottom: 63px; right: 30px;}
            &:nth-of-type(5) {bottom: 27px; right: 110px;}
            &:nth-of-type(6) {bottom: 70px; left: 80px;}
          }
        }
        &_circleChart_top3 {
          display: flex;
          justify-content: center;
          flex-direction: column;
  
          p:nth-of-type(1) {color: var(--color-gray-2); padding: 20px 0;}
          p:nth-of-type(2) {
            width: 90%;
            font-size: 7rem;
            line-height: 3.5rem;
            margin-top: 20px; margin-bottom: 30px;
            border-bottom: 2px solid #444;
            span {color: var(--color-gray-2); font-size: 2.5rem;}
          }
          p:nth-of-type(n+3) {
            padding-bottom: 10px;
            font-size: .875rem;
            span {color: var(--color-gray-2); padding-right: 10px;}
          }
        }
      }
    }
    .details {
      &_title {@include posterSectionTitle;}
      &_infographic {
        display: flex;
        padding: 40px 0;
  
        &_bar {
          width:   28%;
          padding: 40px;
          div {
            display: inline-flex;
            width: 20px; height: 100px;
            margin: 3px; border: 1px solid;
            &:nth-of-type(2) {height: 63px;}
            &:nth-of-type(3) {height: 45px;}
            &:nth-of-type(4) {height: 64px;}
            &:nth-of-type(5) {height: 36px; margin-bottom: 31px;}
            &:nth-of-type(6) {height: 17px; margin-bottom: 50px;}
          }
        }
        &_text {
          position: relative;
          width: 68%;
          li {
            @include center;
            justify-content: space-between;
            .pdt {padding-top: 15px;}
            p {width: 70%; font-size: 0.875rem;}
            span {
              &:nth-of-type(1) {left: -80px; position: absolute;}
              width: 20%; height: 1px; margin-right: 10px;
              border: 1px solid var(--color-gray-2); border-style: dashed;
            }
          }
          li {
            &:nth-of-type(1) {padding-top: 17px;}
            &:nth-of-type(4) {padding-top: 52px;}
            &:nth-of-type(6) {padding-top: 9px;}
            &:nth-of-type(1), &:nth-of-type(6) {span:nth-of-type(1) {width: 25%; left: -120px;}}
            &:nth-of-type(2), &:nth-of-type(5) {span:nth-of-type(1) {width: 20%; left: -100px;}}
            &:nth-of-type(3), &:nth-of-type(4) {span:nth-of-type(1) {width: 15%; left: -75px;}}
          }
        }
      }
    }
    .improve {
      &_title {@include posterSectionTitle}
      &_infographic {
        margin: 80px 0;
        &_horizontalBar {
          @include center;
          justify-content: flex-end;

          position: relative;
          width: 80%; height: 40px;
          border: 1px solid;
          margin-left: 60px;
  
          p {
            position: absolute;
            font-size: 4.5rem;
            bottom: 0;
          }
          &>p:nth-of-type(1) {right: 110px;}
          span {
            height: 80px;
            position: absolute;
            right: 95px;
            border: 1px solid var(--color-gray-2);
            border-style: dashed;
          }
          &_text {
            width: 100%;
            right: 0;
            bottom: -30px;
            position: absolute;
            p {
              font-size: .875rem;
              &:nth-of-type(1) {left: 150px;}
              &:nth-of-type(2) {right: -80px;}
            }
          }
        }
      }
    }
  }
}
