@import '../var';

.stairs {
  @include inner;
  .box {
    background: #201f1b;
    overflow: hidden;

    h1 {
      position: absolute;
      top: 210px; right: 150px;
      transform: skew(350deg, 30deg) scale(1);
      z-index: 1;
    
      &>p {
        color: #ffffe1;
        font-size: 30px;
        text-shadow: 1px 1px 20px #ffe300;
        letter-spacing: -1px;
        font-family: serif;
        z-index: 2;
      }
    
      &::before {
        content: ''; position: absolute; right: 13px; top: 50px;
        width: 35px; height: 1px; background: #797857;
      }
    
      span {
        content: '';
        position: absolute; top: -50px; left: -45px;
        width:  160px; height: 230px;
        border: 2px solid #000;
        box-shadow: 10px -3px 30px #000;
      }
    }
    .img {
      position: absolute; right: -120px; top:   -10px;
      width:  320px; height: 500px;
    }
    .perspective_text {
      color: #d9dbcb;
      font-family: Arial;
      font-size: 3rem;
      font-weight: 900;
      letter-spacing: -2px;
      text-transform: uppercase;

      position: absolute;
      top: -420px; left: -330px;

      width: 100%;
      transform: scale(.8);
    
      &:hover p { transform: translate(0, -50px); }

      .perspective_line {
        height: 50px;
        overflow: hidden;
        position: relative;
        text-align: right;
        border-right: 11px solid #17140a;
        
        p {
          padding: 0 10px; margin: 0;
          height: 50px;
          line-height: 50px;
          transition: all 0.5s ease-in-out;
          mix-blend-mode: overlay;
          opacity: .6;
        }
    
        &:nth-child(odd)  { transform: skew(60deg, -30deg) scaleY(0.667); }
        &:nth-child(even) { transform: skew(0deg, -30deg) scaleY(1.337); }
    
        &:nth-child(1) {
          display: flex; justify-content: flex-end; align-items: flex-end;
          top: 108px; left: -346px;
          height: 700px;
          background-color: #d1d1d1;
        }
    
        &:nth-child(1) p:nth-child(2) { position: absolute; bottom: -50px; }
        &:nth-child(2) { left: 58px; background: #c7c7c7; }
        &:nth-child(3) { left: 87px; background: #8b8b8b; }
        &:nth-child(4) { left: 116px; background: #4c4b4a; }
        &:nth-child(5) { left: 520px; top: -108px; background: #353431; height: 700px; }
      }
    }
    
  }
}
  

