@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  * {
    text-align: left;
  }
}

body {
  font-family: 'Nanum Myeongjo', serif;
}

title {
  display: none;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  height: 100vh;
  background: url(./img/bg1.jpg);
  background-size: cover;
  background-position: bottom;
}

.top a {
  width: 100px;
  border: 1px solid #8c8c8c;
  text-decoration: none;
  padding: 8px 24px;
  color: #000;
  background-color: #eee;
}

.top a:hover {
  background-color: #000;
  color: #fff;
}

.top #text {
  position: relative;
  z-index: 1;
  -webkit-animation: textani calc(50s * var(--i)) cubic-bezier(0.55, 0.06, 0.68, 0.19) infinite;
          animation: textani calc(50s * var(--i)) cubic-bezier(0.55, 0.06, 0.68, 0.19) infinite;
}

@-webkit-keyframes textani {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  5%, 100% {
    opacity: 1;
  }
}

@keyframes textani {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  5%, 100% {
    opacity: 1;
  }
}

.top .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .top .clouds {
    left: -300px;
    width: 200%;
  }
}

.top .clouds::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 1000;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff));
  background: linear-gradient(transparent, #fff);
}

.top .clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  -webkit-animation: animate calc(2s * var(--i)) linear infinite;
          animation: animate calc(2s * var(--i)) linear infinite;
}

.top .clouds.pause img {
  -webkit-animation: none;
          animation: none;
  opacity: 0;
}

.top .clouds .cloud {
  z-index: 2;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

section {
  position: relative;
  padding: 150px 260px;
  width: 100vw;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  section {
    padding: 50px 15px;
  }
}

section h2 {
  position: relative;
  font-size: 4em;
  color: #3e3e3e;
}

section > p {
  color: #333;
  font-size: 1.2rem;
  width: 300px;
  text-align: right;
  padding: 20px 0;
  line-height: 24px;
}

section .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  width: 800px;
}

@media screen and (max-width: 768px) {
  section .contents {
    width: 100%;
  }
}

section .contents > p {
  color: #888;
}

section .contents > img {
  width: 300px;
  border-radius: 10px;
  margin: 40px 0;
}

@media screen and (max-width: 768px) {
  section .contents > img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */