@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

body {
  font-family: 'Nixie One', cursive;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  cursor: url('./img/2-1.png') 0 0, pointer;
}

.intro {
  position: relative;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;

  &:hover {
    transform: scale(1.03);
    cursor: url('./img/2.png') 0 0, pointer;
  }

  .bg {
    border-radius: 20px;
    border: 1px solid #252525;
    // filter: grayscale(100%) brightness(.7); // 그레이 필터
  }

  .split-text {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 30%;
    margin: 0;
    color: #ffcbb4;
    font-size: 2vw;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    span {
      display: inline-block;
      white-space: pre;
    }
  }

  .clone {
    color: #96693c33;
    z-index: 2;
    text-shadow: -2px -6px 20px #9a3d00;
  }
}