$s1: "";
$s2: "";
$s3: "";

@for $i from 1 through 400 {
  $s1: $s1 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
  $s2: $s2 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
  $s3: $s3 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
  
  @if $i < 400 {
      $s1: $s1 + ",";
      $s2: $s2 + ",";
      $s3: $s3 + ",";
  }
}

body {margin: 0;}

.wrapper {
  width: 100%;
  height: 100vh;
  background: #ebf1f9;
  overflow: hidden;

  .winter1 {
    z-index: 1;
  }
  .winter1,
  .winter2 {
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
  }

  .image {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 600px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;

    img {
      width: 400px;
    }

    p {
      right: 30px;
      margin: 0;
      color: #c9def3;
      font-weight: 700;
      position: absolute;
      bottom: 110px;
    }
}
  .snow {
    border-radius: 50%;
    opacity: 0.8;

    position: absolute;
    top: -100vh;

    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .layer1 {
    width:  1rem;
    height: 1rem;
    filter: blur(1.5px);
    box-shadow: #{$s1};
    animation-duration: 6s;
    &.a {
      animation-delay: -3s;
    }
  }
  .layer2 {
    width:  0.8rem;
    height: 0.8rem;
    filter: blur(3px);
    box-shadow: #{$s2};
    animation-duration: 8s;
    &.a {
      animation-delay: -4s;
    }
  }
  .layer3 {
    width:  0.5rem;
    height: 0.5rem;
    filter: blur(6px);
    box-shadow: #{$s3};
    animation-duration: 10s;
    &.a {
      animation-delay: -5s;
    }
  }
}

@keyframes fall {
  100% {transform: translateY(200vh);}
}
