@font-face {
  font-family: "Letters-for-Learners";
  font-style: "woff";
  font-weight: 700;
  src: url("../../fonts/Letters-for-Learners.woff2") format("woff2"), url("../../fonts/Letters-for-Learners.woff") format("woff");
}

* {
  font-family: 'Letters-for-Learners', sans-serif;
  font-size: 1.1rem;
  font-weight: 800;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > * {
  margin: auto;
}

.sign-up {
  width: 360px;
}

.sign-up fieldset {
  padding-top: 1.5em;
  border: 0;
}

.sign-up fieldset legend {
  padding: 0 1em;
  color: #444;
  font-size: 2em;
  text-align: center;
}

.sign-up .field {
  position: relative;
  margin-bottom: 2em;
}

.sign-up .field label,
.sign-up .field input {
  padding: .2em;
  font-size: 1.3em;
  color: #ccc;
}

.sign-up .field label {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.sign-up .field:focus + label,
.sign-up .field .filled + label {
  -webkit-transform: scale(0.8) translateY(-80%);
          transform: scale(0.8) translateY(-80%);
}

.sign-up .field input {
  background-color: #fff;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
  outline: none;
  color: #444;
}

.sign-up .field .line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.sign-up .error + label + .line {
  background-color: #ff5722;
}

.sign-up .line::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #bada55;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  z-index: 1;
}

.sign-up .filled + label + .line::before {
  width: 100%;
}

.sign-up .submit .field .filled + label + .line::before {
  left: 80%;
  opacity: 0;
}

.sign-up .button {
  position: relative;
  background-color: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.sign-up .button:hover {
  background-color: rgba(56, 56, 56, 0.1);
}

.sign-up .button::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #bada55;
  -webkit-transform-origin: right 0;
          transform-origin: right 0;
  -webkit-transform: translateX(-110%) skewX(20deg);
          transform: translateX(-110%) skewX(20deg);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.sign-up .button button {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: .5em;
  font-size: 1.1em;
  color: #444;
  border: 1px solid #eee;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.popup {
  display: none;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.active > * {
  margin: auto;
}

.active .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #444;
  opacity: .5;
}

.active .popup-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 3;
  width: 280px;
  height: 200px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 10px #919191;
          box-shadow: 0 10px 10px #919191;
}

.active .popup-contents p span {
  color: #9abb34;
  font-size: 2rem;
}

.active .popup-contents .popup-close {
  padding: 8px 100px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
}

.active .popup-contents .popup-close:hover {
  background-color: #ddd;
}

.submit .button::before {
  -webkit-transform: translateX(0%) skewX(0deg);
          transform: translateX(0%) skewX(0deg);
}
/*# sourceMappingURL=style.css.map */