@font-face {
  font-family: "NewYorkFont";
  font-style: "woff";
  font-weight: 700;
  src: url("../../fonts/NewYork-PERSONAL-USE.woff2") format("woff2"), url("../../fonts/NewYork-PERSONAL-USE.woff") format("woff");
}

@font-face {
  font-family: "Letters-for-Learners";
  font-style: "woff";
  font-weight: 700;
  src: url("../../fonts/Letters-for-Learners.woff2") format("woff2"), url("../../fonts/Letters-for-Learners.woff") format("woff");
}

@font-face {
  font-family: "allright";
  font-style: "woff";
  font-weight: 700;
  src: url("../../fonts/allright.woff2") format("woff2"), url("../../fonts/allright.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff9f9;
  font-family: 'NewYorkFont', serif;
}

body > * {
  margin: auto;
}

.first .topBox {
  top: -271px;
}

.first .topBox .inner {
  width: 130px;
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
}

.first .topBox .inner > * {
  margin: auto;
}

.first .left {
  width: 130px;
  height: 400px;
  top: -168px;
  left: 35px;
}

.first .right {
  -webkit-transform: skew(0deg, -30deg);
          transform: skew(0deg, -30deg);
  width: 110px;
  height: 400px;
  top: -162px;
  left: 186px;
}

.second .topBox .inner {
  border: 1px solid;
}

.third .topBox {
  z-index: 2;
  top: -70px;
  left: 110px;
}

.third .topBox .inner {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
}

.third .topBox .inner > * {
  margin: auto;
}

.third .right {
  border-radius: 101% / 60%;
  top: -50px;
  left: 68px;
  width: 265px;
  height: 250px;
  -webkit-transform: none;
          transform: none;
  background-color: #ffdbdb;
}

.Cosmetics {
  position: absolute;
  left: 50%;
  top: 360px;
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

.Cosmetics p {
  line-height: 14px;
  font-size: 12px;
}

.Cosmetics h2 {
  font-weight: bold;
}

.Cosmetics .right,
.Cosmetics .left {
  border: 1px solid;
}

.Cosmetics .right h2,
.Cosmetics .left h2 {
  padding: 10px 0px;
}

.Cosmetics.second {
  top: 520px;
  left: 48%;
  margin-left: -200px;
}

.Cosmetics.third {
  top: 640px;
  left: 48%;
  margin-left: -400px;
}

.Cosmetics:hover {
  -webkit-transform: translate(110px, 50px);
          transform: translate(110px, 50px);
}

.Cosmetics:hover .right,
.Cosmetics:hover .left {
  background-color: #ffecec;
}

.Cosmetics:hover .right:hover,
.Cosmetics:hover .left:hover,
.Cosmetics:hover .topBox:hover .inner {
  background-color: #ffd4d4;
}

.left {
  -webkit-transform: skew(0deg, 30deg);
          transform: skew(0deg, 30deg);
  background-color: #ffdbdb;
}

.right {
  -webkit-transform: skew(0deg, -30deg);
          transform: skew(0deg, -30deg);
  background-color: #ffecec;
  left: 200px;
}

.right,
.left,
.topBox {
  position: absolute;
}

.right,
.left,
.topBox .inner {
  padding: 10px;
  width: 180px;
  height: 180px;
}

.topBox {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  top: -160px;
  left: 100px;
}

.topBox .inner {
  -webkit-transform: skew(0deg, -30deg) scale(1, 1.16);
          transform: skew(0deg, -30deg) scale(1, 1.16);
  background-color: #fff;
  font-size: 0.862em;
}
/*# sourceMappingURL=style.css.map */