@import '../var';

.circlerotate {
  @include inner;
  .box {
    background-color: #eeedf0;
    p {
      color: var(--color-black-1);
      font-size: 1rem; font-weight: bold;
      position: absolute; top: 40px; left: 50px;
      text-transform: uppercase;
      &:nth-of-type(2) {left: inherit; right: 50px; font-size: 2rem;}
      &:nth-of-type(3) {left: -290px; right: inherit; bottom: -110px; transform: rotate(90deg); font-size: 10rem; z-index: 1; opacity: .1;}
    }
    .circle {
      position: absolute; top: 20%; left: 25%;
      transform: rotateX(10deg) rotateZ(335deg) rotateY(23deg);
      width: 360px; height: 470px; background-color: var(--color-yellow-1); border-radius: 50%; border: 1px solid var(--color-yellow-1);
    }
    text {
      textPath {font-size: 16px; fill: var(--color-gray-2);}
      tspan {fill: #bdb204; font-weight: bold; mix-blend-mode: multiply;}
    }
    svg {position: absolute; top: 15%; left: 15%; transform: rotateX(325deg) rotateZ(167deg) rotateY(40deg);}
    .path {
      stroke: var(--color-gray-2);
      stroke-opacity: .5;
      stroke-width: 1px;
      stroke-linejoin: round;
      stroke-linecap: round;
      stroke-dasharray: 1200;
      stroke-dashoffset: 1200;
      animation-name: circlePath;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes circlePath {
  0%   {stroke-dashoffset: -1200;}
  100% {stroke-dashoffset: 0;}
}