@import '../var';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

$font-family: 'DM Serif Display';

.pantone2021 {
  @include inner;  
  font-family: $font-family, cursive;
  .box {
    background: #333;
    justify-content: flex-start;
    .animated_title {
      color: #fff; text-shadow: 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #929498, 0 0 40px #929498, 2px 2px 2px rgba(142, 139, 116, 0), 2px 2px 2px;

      &>div {
        width: 100%; height: 50%;
        overflow: hidden;
        position: absolute;
        div {
          padding: 2rem;
          position: absolute;
          span {display: block;}
        }
      }
      .text_top {
        width: 77%;
        top: 0; left: 65px;
        margin-top: 50px;
        border-bottom: 3px solid #212121;
        font-size: 4rem;
        div {
          animation: showTopText 1s;
          animation-delay: 0.5s;
          animation-fill-mode: forwards;
          transform: translate(0, 100%);
          bottom: 0;
          text-align: center;
          span:first-child {color: #fff; text-shadow: 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #f4de4d, 0 0 40px #f4de4d, 2px 2px 2px rgba(142,139,116,0), 2px 2px 2px;}
        }
      }
      .text_bottom {
        left: 65px; bottom: 0;
        width: 77%;
        margin-bottom: -50px;
        color: #fff;
        font-size: 2.75rem;
        text-align: center;
        div {
          animation: showBottomText 0.5s;
          animation-delay: 1.75s;
          animation-fill-mode: forwards;
          transform: translate(0, -100%);
          padding: 0; padding-left: 25px; padding-top: 20px;
        }
      }
    }
  }
}

@keyframes showTopText {
  0%       {transform: translate3d(0, 100%, 0);}
  40%, 60% {transform: translate3d(0, 50%, 0);}
  100%     {transform: translate3d(0, 0, 0);}
}
@keyframes showBottomText {
  0%   {transform: translate3d(0, -100%, 0);}
  100% {transform: translate3d(0, 0, 0);}
}
