@import '../var';

@mixin ani {
  animation: move;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.tape {
  @include inner;
  .box {
    flex-direction: column;
    background-color: #eeedf0;
    overflow: hidden;
    p {
      overflow: hidden;
      font-size: 2.5rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #eeedf0; background-color: var(--color-gray-1);
      width: 800px; height: 60px;
      position: absolute; right: -50px;
      &:nth-of-type(1) {transform: rotate(-15deg);   top: 130px; span {animation-duration: 19s;}}
      &:nth-of-type(2) {transform: rotate(0deg);     top: 230px; span {animation-duration: 13s;}}
      &:nth-of-type(3) {transform: rotate(10deg); bottom: 240px; span {animation-duration: 17s;}}
      &:nth-of-type(4) {transform: rotate(-9deg); bottom: 100px; span {animation-duration: 15s;}}
      span {
        @include ani;
        position: absolute;
      }
    }
  }
}

@keyframes move {
  0%   {margin-left: 0%;    transform: translateX(0%);}
  50%  {margin-left: 100%;  transform: translateX(10%);}
  100% {margin-left: 0%;    transform: translateX(0%);}
}
