* {margin: 0; padding: 0; box-sizing: border-box;}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e6dfdf;
}

.container {
  position: relative;
  top: 50px;
}

/* 컵 몸체 */
.cup {position: relative;
  width: 280px;
  height: 300px;
  background: linear-gradient(to right, #eaeaea, #eee);
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  overflow: hidden;
  z-index: -1;


  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9, 
              -20px -20px 60px #ffffff;
}

/* 컵 상단 원형 */
.top {
  position: absolute;
  top: -45px;
  left: 0;
  width: 100%;
  height: 90px;
  border-radius: 50%;
  background: linear-gradient(to right, #fff, #f1f1f1);
}

/* 컵 내부 */
.circle {
  position: absolute;
  top: 5px;
  left: 10px;
  width: calc(100% - 20px);
  height: 90px;
  border-radius: 50%;
  background: linear-gradient(to left, #f7f7f7, #c1c1c1);
  box-sizing: border-box;
  overflow: hidden;
}

/* 컵에 담겨있는 커피 */
.tea {
  position: absolute;
  top: 20px; left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#a26d5a, #67290c);
  border-radius: 50%;
}

/* .handle {
  position: absolute;
  right: -55px; top: 30px; width: 120px; height: 170px;
  border: 20px solid #ca7c44;
  border-left: 5px solid #fff;
  border-bottom: 15px solid #fff;
  border-radius: 50%;
  transform: rotate(42deg);
  z-index: -2;

  box-shadow:  20px 20px 60px #d9d9d9, 
              -20px -20px 60px #ffffff;
} */

.line {
  position: absolute;
  right: -10px;
  top: -70px;
  width: 110%;
  height: 140px;
  border: 8px solid #ffc296;
  border-bottom: 25px solid transparent;
  border-radius: 50%;
  transform: rotate(181deg);
}

.line2 {
  position: absolute;
  right: -12px;
  bottom: 10px;
  width: 110%;
  height: 180px;
  border: 7px solid #ffe1cb;
  border-bottom: 65px solid transparent;
  border-radius: 50%;
  transform: rotate(180deg);
}

.vapour {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}

.vapour span {
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--i) * -0.5s);
  box-shadow: 0px 10px 20px #f7e9e3, -20px -20px 60px #ffffff;
}

@keyframes animate {
  0% {transform: translateY(0) scaleX(1); opacity: 0;}
  15% {opacity: 1;}
  50% {transform: translateY(-150px) scaleX(5)}
  95% {opacity: 0;}
  100% {transform: translateY(-300px) scaleX(10)}
}