* {margin: 0; padding: 0; box-sizing: border-box;}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: #e6dfdf; */
  background-color: #333;
}

.vapour {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}

.vapour span {
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--i) * -0.5s);
  box-shadow: 0px 10px 20px #f7e9e3, -20px -20px 60px #ffffff;
}

@keyframes animate {
  0% {transform: translateY(0) scaleX(1); opacity: 0;}
  15% {opacity: 1;}
  50% {transform: translateY(-150px) scaleX(5)}
  95% {opacity: 0;}
  100% {transform: translateY(-300px) scaleX(10)}
}
