* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e6dfdf;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.container .humidifier {
  position: absolute;
  z-index: -1;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px #d9d9d9,  -20px -20px 60px #e6e6e6;
          box-shadow: 10px 10px 10px #d9d9d9,  -20px -20px 60px #e6e6e6;
}

.container .vapour {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  left: -30px;
}

.container .vapour > span {
  position: relative;
  bottom: 30px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 150px;
  left: -10px;
  background: #f3f3f3;
  border-radius: 50%;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
  opacity: 1;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation-delay: calc(var(--i) * -0.5s);
          animation-delay: calc(var(--i) * -0.5s);
  -webkit-box-shadow: 0px 10px 20px #f7e9e3, -20px -20px 60px #fff;
          box-shadow: 0px 10px 20px #f7e9e3, -20px -20px 60px #fff;
}

.container .vapour > span:nth-child(-n+4) {
  bottom: 10px;
  -webkit-transform: rotate(-20deg) scale(2);
          transform: rotate(-20deg) scale(2);
  -webkit-animation: rotate 4s  linear infinite;
          animation: rotate 4s  linear infinite;
  -webkit-animation-delay: calc(var(--i) * -0.5s);
          animation-delay: calc(var(--i) * -0.5s);
  opacity: 1;
  left: 20px;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.container .vapour > span:nth-child(n+9) {
  bottom: -10px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation: rotate2 5s  linear infinite;
          animation: rotate2 5s  linear infinite;
  -webkit-animation-delay: calc(var(--i) * -0.8s);
          animation-delay: calc(var(--i) * -0.8s);
  opacity: 1;
  left: -20px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translateY(0) scaleX(1) rotate(-5deg);
            transform: translateY(0) scaleX(1) rotate(-5deg);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-100px) scaleX(3) rotate(-7deg);
            transform: translateY(-100px) scaleX(3) rotate(-7deg);
  }
  95% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-200px) scaleX(3) rotate(-12deg);
            transform: translateY(-200px) scaleX(3) rotate(-12deg);
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translateY(0) scaleX(1) rotate(-5deg);
            transform: translateY(0) scaleX(1) rotate(-5deg);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-100px) scaleX(3) rotate(-7deg);
            transform: translateY(-100px) scaleX(3) rotate(-7deg);
  }
  95% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-200px) scaleX(3) rotate(-12deg);
            transform: translateY(-200px) scaleX(3) rotate(-12deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: translateY(0) scaleX(3) rotate(5deg);
            transform: translateY(0) scaleX(3) rotate(5deg);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-100px) scaleX(5) rotate(7deg);
            transform: translateY(-100px) scaleX(5) rotate(7deg);
  }
  95% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-200px) scaleX(5) rotate(12deg);
            transform: translateY(-200px) scaleX(5) rotate(12deg);
    opacity: 0;
  }
}

@keyframes rotate2 {
  0% {
    -webkit-transform: translateY(0) scaleX(3) rotate(5deg);
            transform: translateY(0) scaleX(3) rotate(5deg);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-100px) scaleX(5) rotate(7deg);
            transform: translateY(-100px) scaleX(5) rotate(7deg);
  }
  95% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-200px) scaleX(5) rotate(12deg);
            transform: translateY(-200px) scaleX(5) rotate(12deg);
    opacity: 0;
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) scaleX(1);
            transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-100px) scaleX(5);
            transform: translateY(-100px) scaleX(5);
  }
  95% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-300px) scaleX(10);
            transform: translateY(-300px) scaleX(10);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) scaleX(1);
            transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-100px) scaleX(5);
            transform: translateY(-100px) scaleX(5);
  }
  95% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-300px) scaleX(10);
            transform: translateY(-300px) scaleX(10);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */