@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');


body {
  font-family: 'Playfair Display SC', serif;
  background: #333;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  overflow: hidden;

 section {
    .color {
      text-align: center;
      .colorbox {
        display: inline-block;
        width: 200px;
        height: auto;
        padding: 10px;
        cursor: pointer;
        text-align: center;
        border-radius: 2px;
      }
      .illuminating  {border-bottom: 2px solid #f4de4d;}
      .ultimate-gray {border-bottom: 2px solid #929498;}
      
      input[type="radio"] {visibility: hidden; display: none;} // radio 안보이게 두번 숨김

      #il-radio:checked ~ .illuminating {color: #fff;
        border-bottom: 2px solid #f4de4d;
        // background: #dddddd12; // 익스에서 투명은 안되잖아~
      }
      #gray-radio:checked ~ .ultimate-gray {color: #fff;
        border-bottom: 2px solid #929498;
        // background: #dddddd12;
      }

      #il-radio:checked ~ .color-title span {
        animation: illuminating 5s ease-in-out infinite;
      }
      #gray-radio:checked ~ .color-title span {
        animation: ultimateGray 5s ease-in-out infinite;
      }
    }

    h2 {
      color: #505050;
      vertical-align: baseline;
      letter-spacing: -10px;
      text-align: center;
      font-size: 8rem;
      margin: 20px 0;
      
      &>span {animation: illuminating 5s ease-in-out infinite;}
      &>span:nth-child(-n+5) {animation-delay: 0.5s;}
      &>span:nth-child(n+5):nth-child(-n+13) {animation-delay: 1.5s;}
      &>span:nth-child(n+14):nth-child(-n+18) {animation-delay: 2s;}
    }
  }
}

@keyframes illuminating {
  0%, 100% {color: #808080; text-shadow: none;}
  10%, 90% {color: #fff; text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #f4de4d, 0 0 30px #f4de4d, 0 0 40px #f4de4d, 0 0 55px #f4de4d, 0 0 75px #f4de4d, 2px 2px 2px rgba(142,139,116,0), 2px 2px 2px;}
}

@keyframes ultimateGray {
  0%, 100% {color: #808080; text-shadow: none;}
  10%, 90% {color: #fff; text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #929498, 0 0 30px #929498, 0 0 40px #929498, 0 0 55px #929498, 0 0 75px #929498, 2px 2px 2px rgba(142, 139, 116, 0), 2px 2px 2px;}
}

