@import '../../utils/fonts';
@include font-face("NewYorkFont", "../../fonts/NewYork-PERSONAL-USE", 700, "woff");

* {margin: 0; padding: 0;}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  &>* { margin: auto;}
  background: #fff9f9;
  font-family: 'NewYorkFont', serif;
}

.first {
  .topBox {
    top: -271px;
    .inner {
      width: 130px;
      height: 108px;
      display: flex;
      border: 1px solid;
      &>* { margin: auto;}
    }
  }
  .left {
    width: 130px;
    height: 400px;
    top: -168px;
    left: 35px;
  }
  .right {
    transform: skew(0deg, -30deg);
    width: 110px;
    height: 400px;
    top: -162px;
    left: 186px;
  }
}

.second {
  .topBox {
    .inner {
      border: 1px solid;
    }
  }
}

.third {
  .topBox {
    z-index: 2;
    top: -70px;
    left: 110px;
    .inner {
      border-radius: 50%;
      display: flex;
      border: 1px solid;
      &>* { margin: auto;}
    }
  }
  .right {
    border-radius: 101% / 60%;
    top: -50px;
    left: 68px;
    width:  265px;
    height: 250px;
    transform: none;
    background-color: #ffdbdb;
  }
}

.Cosmetics {
  position: absolute;
  left: 50%;
  top: 360px;
  transition: transform 1s linear;
  p {
    line-height: 14px;
    font-size: 12px;
  }
  h2 {
    font-weight: bold;
  }
  .right,
  .left {
    border: 1px solid;
    h2 {
      padding: 10px 0px;
    }
  }
  &.second {
    top: 520px;
    left: 48%;
    margin-left: -200px;
  }
  &.third {
    top: 640px;
    left: 48%;
    margin-left: -400px;
  }
  &:hover {
    transform: translate(110px, 50px);
    .right,
    .left {
      background-color: #ffecec;
    }
    .right:hover,
    .left:hover,
    .topBox:hover .inner {
      background-color: #ffd4d4;
    }
  }
}


.left {
  transform: skew(0deg, 30deg);
  background-color: #ffdbdb;
}
.right {
  transform: skew(0deg, -30deg);
  background-color: #ffecec;
  left: 200px;
}

.right,
.left,
.topBox {
  position: absolute;
}

.right,
.left,
.topBox .inner {
  padding: 10px;
  width: 180px;
  height: 180px;
}

.topBox {
  transform: rotate(60deg);
  top: -160px;
  left: 100px;
  .inner {
    transform: skew(0deg, -30deg) scale(1, 1.16);
    background-color: #fff;
    font-size: 0.862em;
  }
}