body {
  margin: 0; padding: 0;
  height: 100vh;
  display: flex;
  &>* {margin: auto;}
}

.typing {
  padding: 0px 30px;
  font-size: 2rem;
  font-family: monospace;
  border-bottom: 1px solid;
  p {
    white-space: nowrap;
    overflow: hidden;
    animation: text 3s steps(30, end) forwards,
               blink 1s infinite;
    &:hover{
      animation-play-state:paused;
    }
  }
}

@keyframes text {
  0%   {width: 5%; color: #000;}
  100% {width: 100%; color: #cc0;}
}

@keyframes blink {
  0%, 100% {border-right: 2px solid transparent;}
  50% {border-right: 2px solid #222;}
}