@import '../../utils/fonts';
@import '../../utils/font';

* {margin: 0; padding: 0; box-sizing: border-box;}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  &>* { margin: auto;}
  background: #f9feff;
  font-family: 'NewYorkFont', serif;
  cursor: none;
}

.content {
  width:  700px;
  height: 400px;
  background-color: #fffefb;
  display: flex;
  border-radius: 20px;
  border-radius: 10px;
  box-shadow: -1px 5px 8px 2px #f1f1f1;
  opacity: 0.8;
  
  &:hover {
    opacity: 1;
  }

  &>* {margin: auto;}
  h1 {
    text-transform: uppercase;
    font-size: 100px;
    color: #114d5b;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: -20px;
      left:  35%;
      width: 30%;
      border: 1px solid #114d5b;
      // height: 2px;
    }
  }
}
.cursor {
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#pointer {
  background: url('./img/2.png');
  background-size: inherit;
  background-position-y: 230px;
  background-position-x: 10px;
  width:  220px;
  height: 240px;
  transition: 0.10s;
}
#pointer2 {
  background: url('./img/1.png');
  background-size: cover;
  width:  100px;
  height: 100px;
  transition: 0.01s;
}
