$break-m: 768px;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('./img/bg.jpg');
  overflow: hidden;
}

.title {
  width: 100%;
  height: 35vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  p {
    color: #adadad;
  }

  .leaf {
    width: 70px;
    position: absolute;
    left: 400px;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    @media screen and (max-width: $break-m) {
      display: none;
    }
  }
}
section {
  position: relative;
  width: 100%; height: 100vh;
  display: flex; justify-content: center;
  align-items: flex-end;

  .slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 10;

    img {
      position: absolute;
      bottom: -100px;
      right:  -100px;
      width: 626px;
      height: 626px;
      @media screen and (max-width: $break-m) {
      right: 0px;
      width: 100%;
      height: auto;
      }
    }
    .swiper-container {
      width: 100%;
      margin-bottom: -100px;

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 400px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &>div {
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;

          p {font-size: 0.875rem;}
          p:nth-of-type(1) {
            color: #9ba91f;
            height: auto;
            padding-bottom: 8px;
            margin-bottom:  8px;
            border-bottom: 1px solid #898989;
            display: flex;
            justify-content: center;
          }
          .kcal {
            color: #898989;
            margin-top: 10px;
          }
        }
        a {
          width: 100%;
          height: 15%;
          @media screen and (max-width: $break-m) {
            height: 50px;
          }
        }
      }
    }
    .swiper-slide-active {
      transform: scale(1.5)!important;
    }
  }
}

/* swiper css 수정 */
.swiper-container-3d {
  .swiper-slide-shadow-left {background: none;}
  .swiper-slide-shadow-right {background: none;}
}

