body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: #201f1b;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

img {
  width: 500px;
  position: absolute;
  right: -770px;
  z-index: 3;
  bottom: 860px;
}

h1 {
  position: absolute;
  right: 580px;
  top: 360px;
  transform: skew(351deg, 28deg) scale(1);
  z-index: 1;

  &>p {
    color: #ffffe1;
    font-size: 36px;
    text-shadow: 1px 1px 8px #ffe300;
    letter-spacing: -1px;
    font-family: serif;
    z-index: 2;
  }

  &::before {
    content: '';
    width: 40px;
    height: 1px;
    background: #eee;
    position: absolute;
    right: 45px;
    top: 100px;
  }

  span {
    content: '';
    width: 200px;
    height: 300px;
    position: absolute;
    left: -30px;
    top: -60px;
    z-index: -3;
    border: 2px solid #000;
    box-shadow: 10px -3px 30px #000;
  }
}

.perspective-text {
  color: #d9dbcb;
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  width: 90%;
  position: absolute;
  top: 130px;
  left: -730px;

  &:hover p {
    transform: translate(0, -50px);
  }

  .perspective-line {
    height: 50px;
    overflow: hidden;
    position: relative;
    text-align: right;
    border-right: 11px solid #17140a;
    
    p {
      padding: 0 10px;
      margin: 0;
      height: 50px;
      line-height: 50px;
      transition: all 0.5s ease-in-out;
      mix-blend-mode: overlay;
      opacity: .6;
    }

    &:nth-child(odd) {
      transform: skew(60deg, -30deg) scaleY(0.667);
    }

    &:nth-child(even) {
      transform: skew(0deg, -30deg) scaleY(1.337);
    }

    &:nth-child(1) {
      left: -346px;
      top: 108px;
      height: 700px;
      background: url('./img/2.jpg');
      background-color: #d1d1d1;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }

    &:nth-child(1) p:nth-child(2){
      position: absolute;
      bottom: -50px;
    }
    &:nth-child(2) {
      left: 58px;
      background: #c7c7c7;
    }

    &:nth-child(3) {
      left: 87px;
      background: #8b8b8b;
    }

    &:nth-child(4) {
      left: 116px;
      background: #4c4b4a;
    }

    &:nth-child(5) {
      left: 520px;
      top: -108px;
      background: #353431;
      height: 700px;
    }
  }
}

.text-flicker-in-glow {
	-webkit-animation: text-flicker-in-glow 1s linear both;
	        animation: text-flicker-in-glow 1s linear both;
}

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
