// [1] Variable
@mixin center {display: flex; justify-content: center; align-items: center;}
@mixin shadow {background: var(--color-white); box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.10);}

@mixin layout {padding: 0 16px;}
@mixin top {margin-top: 50px;}

// [2] Accessibility
@mixin screenReader {
  clip: rect(0 0 0 0); clip-path: inset(50%);
  height: 1px; overflow: hidden; position: absolute;
  white-space: nowrap; width: 1px;
}
.sr {@include screenReader;}



// pages/typographic card align
@mixin inner {
  @include top;
  @include layout;
  @include center;
  .box {
    @include center;
    @include shadow;
    position: relative;
    margin: 80px 0;
    height: 600px; width: 600px;
  }
}