// Style
:root {
  --color-white: #FFFFFF;
  --color-bg: #F1F1F1;
  --color-red-1: #FF7777;
  --color-yellow-1: #ffe300;

  --color-gray-1: #C4C4C4;
  --color-gray-2: #A5A5A5;
  --color-gray-3: #898988;

  --color-black-1: #333333;
  --color-black-2: #000000;

  --font-size-13: 0.8125rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;

  --layout-width-mobile-min: 320px;
  --layout-width-mobile-max: 430px;
  --layout-width-mobile: 1100px;
}

// font in package
// font-family: "Noto Sans KR";     // 100 300 400 500 700 900
// font-family: "Noto Serif KR";    // 200 300 400 500 600 700 900 
// font-family: "Nanum Myeongjo";   // 400 700 800 
// font-family: "Gowun Dodum";      // 400

// Reset
html, body {
  padding: 0; margin: 0;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}
* {word-break: break-word;}
*, *::after, *::before {box-sizing: border-box;}
a { color: inherit; text-decoration: none;}
div {scroll-behavior: smooth;}
input {border: none;}
ul, li {list-style: none;}
ul, p, h1, h2, h3, h4 {padding: 0; margin: 0;}
button {border: none; background: none; cursor: pointer; padding: 0; margin: 0; }

// Scrollbar
*::-webkit-scrollbar {height: 5px; width: 9px;}
*::-webkit-scrollbar-track {background-color: transparent;}
*::-webkit-scrollbar-thumb {border-radius: 3px; background-color: var(--color-black-1);}
*::-webkit-scrollbar-button {width: 0; height: 0;}