.tooltip {position: relative;}
.tooltip .tooltiptext {visibility: hidden; width: max-content; background-color: black; color: #fff; text-align: center; border-radius: 8px; padding: 8px 16px; position: absolute; z-index: 1; top: 100%; left: 0;}
.tooltip:hover .tooltiptext {visibility: visible;}
